
{% style %}
  /* slider style */
  .title h4{
    text-align:center;
  }
  .slick-slider .element{
    height:100px;
    width:100px;
    background-color:#000;
    color:#fff;
    border-radius:5px;
    display:inline-block;
    margin:0px 10px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    font-size:20px;
  }
  .slick-slider .slick-disabled {
    opacity : 0; 
    pointer-events:none;
  }

  /* Slider custumization  */
  .slick-dots button {
    display: none;
  }
  .slick-dots li {
    padding: 20px;
  }
{% endstyle %}

{% javascript %}
  $(".slick-slider").slick({
   slidesToShow: 3,
   infinite:false,
   slidesToScroll: 1,
   autoplay: true,
   autoplaySpeed: 2000,
   arrows: true,
   dots: true,
     // dots: false, Boolean
    // arrows: false, Boolean
  });
{% endjavascript %}

<div class="title">
    <h4>{{ section.settings.title }}</h4>
    <p>{{ section.settings.description }}</p>
</div>
<!-- Slider Start From Here  -->
<div class="slick-slider">
  <div class="element element-1">1</div>
  <div class="element element-2">2</div>
  <div class="element element-3">3</div>
  <div class="element element-4">4</div>
  <div class="element element-5">4</div>
  <div class="element element-6">6</div>
  <div class="element element-7">7</div>
  <div class="element element-8">8</div>
  <div class="element element-9">9</div>
  <div class="element element-10">10</div>
</div>
<!-- Slider End Here -->

{% schema %}
  {
    "name": "Custom slide show",
    "tag": "section",
    "class": "custom-slideshow",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Custom Slideshow"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description"
      }
    ],
    "presets": [
      {
        "name": "Custom slide show",
        "settings": {
          "title": "Slideshow"
        },
      }
    ]
  }
{% endschema %}