{% style %}
  /* slider style */
  .title h4{
    text-align:center;
  }
  .slick-slider .element{
    height:100px;
    width:100px;
    background-color:#000;
    color:#fff;
    border-radius:5px;
    display:inline-block;
    margin:0px 10px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    font-size:20px;
  }
  .slick-slider .slick-disabled {
    opacity : 0; 
    pointer-events:none;
  }

  /* Slider custumization  */
  .slick-slider .slick-next {
    display: none;
  }
  .slick-slider .slick-prev {
    display: none;
  }
  .slick-slider .slick-dots {
    display: flex;
    justify-content: center;
  }
  .slick-slider .slick-dots button {
    display: none;
  }
  .slick-slider .slick-dots li {
    padding: 20px;
    color: white;
  }
{% endstyle %}

{% javascript %}
  $(".hero-slider").slick({
   slidesToShow: 1,
   infinite:false,
   slidesToScroll: 1,
   autoplay: false,
   autoplaySpeed: 2000,
   arrows: true,
   dots: true,
     // dots: false, Boolean
    // arrows: false, Boolean
  });
{% endjavascript %}

<!-- Start Hero Section -->
  <div class="hero">
    {% if section.settings.title != blank %}
      <!-- <h2 class="hero-banner__title">{{ section.settings.title }}</h2> -->
    {% endif %}
      <div class="container hero-slider">
        {% for block in section.blocks %}
          <div class="row justify-content-between" {{ block.shopify_attributes }}>
              <div class="col-lg-5">
                  <div class="intro-excerpt">
                      <h1>Modern Interior <span clsas="d-block">Design Studio</span></h1>
                      <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
                      <p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
                  </div>
              </div>
              <div class="col-lg-7">
                  {% if block.settings.image != blank %}
                    <div class="hero-img-wrap">
                        <!-- <img src="images/couch.png" class="img-fluid"> -->
                    {{
                      block.settings.image
                      | image_url: width: 1500
                      | image_tag:
                        loading: 'lazy',
                        widths: '375, 550, 750, 1100, 1500',
                        class: 'hero-banner__img img-fluid'
                    }}
                    </div>
                  {% endif %}
              </div>
          </div>
        {% endfor %}
          <div class="row justify-content-between">
              <div class="col-lg-5">
                  <div class="intro-excerpt">
                      <h1>Modern Interior <span clsas="d-block">Design Studio</span></h1>
                      <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
                      <p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
                  </div>
              </div>
              <div class="col-lg-7">
                  <div class="hero-img-wrap">
                      <img src="images/couch.png" class="img-fluid">
                  </div>
              </div>
          </div>
          <div class="row justify-content-between">
              <div class="col-lg-5">
                  <div class="intro-excerpt">
                      <h1>Modern Interior <span clsas="d-block">Design Studio</span></h1>
                      <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
                      <p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
                  </div>
              </div>
              <div class="col-lg-7">
                  <div class="hero-img-wrap">
                      <img src="images/couch.png" class="img-fluid">
                  </div>
              </div>
          </div>
          <div class="row justify-content-between">
              <div class="col-lg-5">
                  <div class="intro-excerpt">
                      <h1>Modern Interior <span clsas="d-block">Design Studio</span></h1>
                      <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
                      <p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
                  </div>
              </div>
              <div class="col-lg-7">
                  <div class="hero-img-wrap">
                      <img src="images/couch.png" class="img-fluid">
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- End Hero Section -->

{% schema %}
  {
    "name": "Hero Banner section",
    "tag": "section",
    "class": "hero-banner",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "banner",
        "name": "Hero banner block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "HeroBanner",
        "settings": {
          "title": "HeroBanner"
        },
        "blocks": [
          {
            "type": "banner",
            "settings": {
              "title": "Default Banner Title",
              "description": "<p>Default banner description</p>"
            }
          }
        ]
      }
    ]
  }
{% endschema %}