
{% javascript %}
  $(".slick-slider").slick({
   slidesToShow: 2,
   infinite:false,
   slidesToScroll: 1,
   autoplay: true,
   autoplaySpeed: 2000,
   arrows: true,
   dots: true,
     // dots: false, Boolean
    // arrows: false, Boolean
  });
{% endjavascript %}

<!-- Start Hero Section -->
  <div class="hero">
      <div class="container hero-slider">
          <div class="row justify-content-between">
              <div class="col-lg-5">
                  <div class="intro-excerpt">
                      <h1>Modern Interior <span clsas="d-block">Design Studio</span></h1>
                      <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
                      <p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
                  </div>
              </div>
              <div class="col-lg-7">
                  <div class="hero-img-wrap">
                      <img src="images/couch.png" class="img-fluid">
                  </div>
              </div>
          </div>
          <div class="row justify-content-between">
              <div class="col-lg-5">
                  <div class="intro-excerpt">
                      <h1>Modern Interior <span clsas="d-block">Design Studio</span></h1>
                      <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
                      <p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
                  </div>
              </div>
              <div class="col-lg-7">
                  <div class="hero-img-wrap">
                      <img src="images/couch.png" class="img-fluid">
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- End Hero Section -->

{% schema %}
  {
    "name": "Hero Banner section",
    "tag": "section",
    "class": "hero-banner",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "banner",
        "name": "Hero banner block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "HeroBanner",
        "settings": {
          "title": "HeroBanner"
        },
        "blocks": [
          {
            "type": "banner",
            "settings": {
              "title": "Default Banner Title",
              "description": "<p>Default banner description</p>"
            }
          }
        ]
      }
    ]
  }
{% endschema %}